.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  gap: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  position: relative;
}

.empresa-ano {
  position: absolute;
  width: 80px;
  text-align: right;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -4px;
  top: 20px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  background: white;
  border-radius: 0.25rem;
  padding: 5px 10px;
  line-height: 1.4;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }
}

@media (max-width: 460px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
